/* Hero styles */
.heroBackground {
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/ukr-13-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    max-width: 1440px;

}

.container {
    text-align: center;
}

.heroHeading {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 24px;
}

@media only screen and (min-width: 768px) {
    .heroHeading {
        font-size: 56px;
        line-height: 1.07;
    }
}

@media only screen and (min-width: 1158px) {
    .heroHeading {
        margin-bottom: 48px;
    }
}

.button {
    background-color: #47523f;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #708b5d;
}