/* Header styles */
.header {
    border-bottom: 1px solid #e7e9fc;
    margin: 0 auto;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logoWeb {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #708b5d;
    text-decoration: none;
    margin-right: 76px;
}

.logoStudio {
    color: #2e2f42;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.headerNav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.navigation {
    color: #2e2f42;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 24px 0;
}

.navigation:hover,
.navigation:focus {
    color: #708b5d;
}