/* Footer component styles */
.footer {
    background-color: #2e2f42;
    padding: 96px 0;
    color: #f4f4fd;
}

.footerBoxLogo {
    display: flex;
    flex-direction: column;
}

.logoWebFooter {
    display: inline-block;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #f4f4fd;
    margin-bottom: 16px;
}

.logoStudioFooter {
    color: #f4f4fd;
}

.textFooter {
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
}

.socialFooterText {
    font-weight: 500;
    font-size: 16px;
    color: #f4f4fd;
    margin-bottom: 16px;
}

.socialFooter {
    display: flex;
    gap: 16px;
}

.iconsSocialFooter {
    fill: #f4f4fd;
}

.socialIconHrefFooter {
    width: 40px;
    height: 40px;
    background-color: #47523f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms;
}

.socialIconHrefFooter:hover,
.socialIconHrefFooter:focus {
    background-color: #708b5d;
}

.subscribe {
    font-weight: 500;
    font-size: 16px;
    color: #f4f4fd;
}

.formFooter {
    display: flex;
    gap: 24px;
}

.inputFooter {
    width: 264px;
    height: 40px;
    border: 1px solid #f4f4fd;
    background-color: transparent;
    color: #f4f4fd;
    padding-left: 16px;
    border-radius: 4px;
}

.inputFooter::placeholder {
    color: #f4f4fd;
}

.formFooterButton {
    min-width: 165px;
    height: 40px;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms;
}

.formFooterButton:hover,
.formFooterButton:focus {
    background-color: #708b5d;
}

.iconFormFooter {
    margin-left: 16px;
    fill: #f4f4fd;
}